<div *ngIf="listaPreguntas.length > 0" class="row mt-3">
    <div class="col-lg-8 offset-lg-2">
        <div *ngFor="let pregunta of listaPreguntas" class="card mb-3">
            <div class="card-body text-center">
                <p class="titulo-pregunta titulo">{{ pregunta.titulo }}</p>
                <div class="row">
                    <div class="col-6">
                        <p><span class="badge bg-dark">{{ pregunta.segundos }}s</span></p>
                    </div>
                    <div class="col-6">
                        <p><span class="badge bg-dark">{{ pregunta.puntos }}pts</span></p>
                    </div>
                </div>
                <ul class="list-group">
                    <li *ngFor="let respuesta of pregunta.listaRespuestas" class="list-group-item titulo"
                        [ngClass]="activa(respuesta)">{{ respuesta.titulo }}</li>
                </ul>
                <div>
                    <i class="fas fa-trash"></i>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 text-center">
                <button type="button" class="btn-principal btn-finalizar">Finalizar cuestionario</button>
            </div>
        </div>
    </div>
</div>