<div class="container mt-5">
    <div *ngIf="loading; else formulario" class="d-flex justify-content-center align-items-center">
        <app-spinner></app-spinner>
    </div>
    <ng-template #formulario>
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3">
                <div class="card">
                    <div class="card-body">
                        <h3 class="text-center titulo">Registrar usuario</h3>
                        <form [formGroup]="miFormulario" (ngSubmit)="registrar()">
                            <div class="mb-3">
                                <label for="usuario" class="form-label">Correo</label>
                                <input type="email" class="form-control" id="usuario" formControlName="usuario">
                                <div class="form-text text-danger" *ngIf="campoNoEsValido('usuario', 'required')">El correo es requerido</div>
                                <div class="form-text text-danger" *ngIf="campoNoEsValido('usuario', 'email')">Formato de correo no válido</div>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Contraseña</label>
                                <input type="password" class="form-control" id="password" formControlName="password">
                                <div class="form-text text-danger" *ngIf="campoNoEsValido('password', 'required')">La contraseña es requerida</div>
                                <div class="form-text text-danger" *ngIf="campoNoEsValido('password', 'minlength')">
                                    La contraseña debe ser mayor o igual a 6 caracteres
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="password-repeat" class="form-label">Repetir Contraseña</label>
                                <input type="password" class="form-control" id="password-repeat" formControlName="password-repeat">
                                <div class="form-text text-danger" *ngIf="miFormulario.hasError('noEsIgual')">Contraseñas distintas</div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <button type="button" [routerLink]="['usuario']" class="btn btn-secondary">Volver</button>
                                <button type="submit" [disabled]="miFormulario.invalid" class="btn btn-success">Aceptar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    
</div>