<div class="container">
    <div class="row mt-3 mb-5">
        <div class="col-lg-8 offset-lg-2">
            <form>
                <input type="text" class="form-control form-control-lg text-center input-pregunta" placeholder="Ingrese pregunta" maxlength="150">
                <div class="row mt-5">
                    <div class="col-6 text-center">
                        <div class="fondo-item">
                            <p class="titulo-segundos-puntos">SEGUNDOS</p>
                            <p class="seg-puntos">10</p>
                            <div>
                                <i class="fas fa-minus suma-resta"></i>
                                <i class="fas fa-plus suma-resta"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 text-center">
                        <div class="fondo-item">
                            <p class="titulo-segundos-puntos">PUNTOS</p>
                            <p class="seg-puntos">100</p>
                            <input type="range" class="form-range p-3" min="0" max="100" aria-label="Rango puntaje">
                        </div>                        
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>