<div *ngIf="loading; else templateRespuesta" class="h-100 d-flex flex-column justify-content-center align-items-center">
    <app-spinner></app-spinner>
</div>
<ng-template #templateRespuesta>
    <div class="container mt-5 text-center">
        <div class="animate__animated animate__backInDown">
            <h1 class="titulo">Resumen</h1>
            <div class="card">
                <div class="card-body">
                    <div class="row mt-2">
                        <div class="col-lg-6">
                            <h3 class="titulo">Nombre: {{ respuesta.nombreParticipante }}</h3>
                        </div>
                        <div class="col-lg-6">
                            <h3 class="titulo">Puntos: {{ respuesta.puntosTotales }}</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body bg-dark text-white">
                            <h6 class="titulo">Cant. Preg: {{ respuesta.cantidadPreguntas }}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body bg-success text-white">
                            <h6 class="titulo">Correctas: {{ respuesta.cantidadCorrectas }}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body bg-danger text-white">
                            <h6 class="titulo">Incorrectas: {{ respuesta.cantidadIncorrectas }}</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngFor="let pregunta of respuesta.listRespuestaUsuario" class="row mt-3">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body text-center">
                            <h3 class="titulo">{{ pregunta.titulo }}</h3>
                            <ul class="list-group">
                                <li *ngFor="let resp of pregunta.listRespuestas" 
                                    class="list-group-item titulo">{{resp.titulo}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3 mb-3">
                <div class="col-lg-6 offset-lg-3 text-center">
                    <button type="button" class="w-100 btn-principal">Volver</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>