html,
body {
    height: 100vh;
    min-height: 100vh;
    background: #c94b4b; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4b134f, #c94b4b); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4b134f, #c94b4b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-principal {
    height: 3.125rem;
    background-color: rgb(51,51,51);
    border-color: rgba(0,0,0,0.1);
    color: white;
    font-size: 20px;
    border-radius: 7px;
    font-family: 'Montserrat', sans-serif;
}

.btn-principal:hover {
    background-color: rgb(61, 60, 60);
    border-color: rgba(0,0,0,0.1);
}

.btn-principal:focus {
    background-color: rgb(78, 75, 75);
    border-color: rgba(0,0,0,0.1);
}

.titulo {
    font-family: 'Montserrat', sans-serif;
}

.card-titulo {
    padding: 0px 22px;
}