<div class="container mt-3">
    <div class="d-flex justify-content-center mt-3">
        <h1 class="titulo contador-pregunta">12</h1>
    </div>
    <div class="row mt-2">
        <div class="text-center">
            <h3 class="titulo">¿Cuál es la capital de Perú?</h3>
            <div class="col-lg-6 offset-lg-3">
                <ul class="list-group mt-3">
                    <li class="list-group-item titulo seleccionado">Lima</li>
                    <li class="list-group-item titulo">Buenos Aires</li>
                    <li class="list-group-item titulo">Caracas</li>
                    <li class="list-group-item titulo">Bogotá</li>
                </ul>
                <button type="button" class="btn-principal mt-3 w-100">Aceptar</button>
            </div>
        </div>
    </div>
</div>